{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en">

        <title>About</title>
    </head>
    
    <body>
        <div class="about">
            <h2 class="mt-5">About</h2>
            <br>
            <img src="{% static '/portfolio/scotland.jpg' %}" width=300 height=200>
            <br>
            <br>
    
        <p>I'm an aspiring web developer and a renaissance person (on the inside mostly).<br> This page is a collection 
            of various work I have done.
        </p>
        </div>
    
  

        
      

   
     </body>

     </html>
     
{% endblock %}